/* FONT */
body{
font-family:"Poppins",sans-serif;
margin:0;
height:100vh;

display:flex;
justify-content:center;
align-items:center;

background:linear-gradient(135deg,#22c55e,#3b82f6);
}


/* CARD */
.auth-container{

width:380px;

padding:35px;

border-radius:16px;

background:rgba(255,255,255,0.15);

backdrop-filter:blur(15px);

text-align:center;

color:white;

box-shadow:0 20px 40px rgba(0,0,0,0.25);

animation:fadeIn 0.6s ease;
}


/* LOGO */
.logo{

font-size:26px;

font-weight:700;

margin-bottom:5px;
}


/* SUBTITLE */
.subtitle{

font-size:14px;

opacity:0.8;

margin-bottom:15px;
}


/* INPUTS */
input{

width:100%;

padding:12px;

margin:10px 0;

border-radius:8px;

border:none;

outline:none;
}


/* BUTTON */
button{

width:100%;

padding:12px;

margin-top:10px;

border:none;

border-radius:10px;

background:linear-gradient(135deg,#6366f1,#06b6d4);

color:white;

font-weight:600;

cursor:pointer;

transition:0.3s;
}

button:hover{

transform:translateY(-2px);

box-shadow:0 10px 20px rgba(0,0,0,0.3);
}


/* SWITCH */
.switch{

margin-top:15px;

font-size:14px;
}

.switch a{

color:white;

font-weight:600;
}


/* ERROR */
.error{

background:#ef4444;

padding:8px;

border-radius:6px;

margin-bottom:10px;
}


/* ANIMATION */
@keyframes fadeIn{

from{
opacity:0;
transform:translateY(20px);
}

to{
opacity:1;
transform:translateY(0);
}

}